body{
    background: linear-gradient(to right, #000046, #1CB5E0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
}

#bnt-topo{
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-voltar-inicio{
    display: block;
    padding: 1rem;
    background: #000046;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
