@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Stardos+Stencil:wght@400;700&display=swap');

body{

    background-color:#243A2D; ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
}

#bnt-topo{
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-voltar-inicio{
    display: block;
    padding: 1rem;
    background: #ffffff;
    color: #fff;
    border: none;
    border-radius: 36px;
    /* cursor: pointer; */
    transition: 0.2s;
    position: absolute;
    bottom: 1%;
    left: 0%;
    
}

.fotn{
  font-family: "Karma", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.entrar{
    font-family: "Karma", serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    top: 23%;
    left: 20%;
  }

  .form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
    position: absolute;
    left: 7%;
    font-family: "Karma", serif;
  font-weight: 600;
  font-style: normal;
}


.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
    
}

.form input, .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
    
}

.form button, .btn-voltar-inicio {
    display: block;
    padding: 1rem;
    background: #000000;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s;
}


.form label, .form input, .form textarea, .form button {
    display: block;
    width: 100%;
}


.star{
    
}