@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Stardos+Stencil:wght@400;700&display=swap');

body{

    background-color:#243A2D; ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
}

#bnt-topo{
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-voltar-inicio{
    display: block;
    padding: 1rem;
    background: #ffffff;
    color: #fff;
    border: none;
    border-radius: 36px;
    /* cursor: pointer; */
    transition: 0.2s;
    position: absolute;
    bottom: 1%;
    left: 0%;
    
}

.fotn{
    font-family: "Karma", serif;
  font-weight: 300;
  font-style: normal;
}